@import "style.css";

@import url('https://fonts.googleapis.com/css?family=Lato');

li{
    padding-bottom: 10px;
}
#tag{
    border: 2px solid #70A07E;
    background-color: #70A07E;
    margin-left: 5px;
    margin-right: 5px;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.4fr 0.3fr 03.fr;
    grid-template-areas:
    "header header"
    "sidebar article"
    "footer footer";
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    background-color: #FFF;
}
article{
    grid-column: 2/4;
    grid-row: 2/4;

}
article img{
    max-height: 350px;
    max-width: 100%;
}
.about{
    grid-column: 2/4;
    grid-row: 5/6;
    display: grid;
    grid-template-columns: 0.4fr 0.3fr 03.fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}
.about h1{
    padding-right: 5px;
    grid-column: 1/3;
    grid-row: 1/2;
}
#authorName{
    grid-column: 3/3;
    grid-row: 1/2;
}
.about p{
    padding: 20px 5px 5px 10px;
    grid-column: 1/2;
    grid-row: 2/2;
}
.about img{
    border: 0px solid #70A07E;
    border-radius: 50%;
    grid-column: 3/3;
    grid-row: 2/2;
}
blockquote{
    font-style: italic;
    font-size: 1.5em;
}
.sidebar{
    grid-column: 1/2;
    grid-row: 2/3;
}
.related{
    grid-column: 1/2;
    grid-row: 3/4;
}
